.card {
    max-width: 768px;
    min-width: 768px;
}

h4 {
    text-align: center;
    color: #5e5e5e;
    margin: 15px 0 15px 0;
}

.alert {
    margin-top: 15px;
}

.item {
    margin-top: 50px;
}

.edit-buttons {
    margin-top: 20px;
}