.header {
    text-align: center;
    color: #5e5e5e;
    font-family: sans-serif;
}

h1 {
    margin-top: 15px;
    font-size: 42px;
}

.add {
    color: #5e5e5e;
    border-color: #5e5e5e !important;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none !important;

}

.add:hover {
    color: #e1e1e1;
    background-color: #28a745 !important;
}

.create-post {
    padding: 30px;
    float: left;
}

img {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 200px;
    max-width: 210px;
    min-height: 200px;
    min-width: 210px;
}

img:hover {
    opacity: 0.95;
    filter: alpha(opacity=60);
}

span {
    margin-right: 3px;
}

a {
    text-decoration: none;
}

.example-tooltip-red {
    background: #b71c1c;
}

.del {
    float: right;
}

.close {
    margin-left: 3px;
}

.card {
    max-width: 210px;
    min-width: 210px;
    margin-bottom: 10px;
}

.loupe {
    cursor: pointer;
}

.hide-item {
    max-width: 210px;
    min-width: 210px;
}