.dg {
    float: right;
    color: #eaeaea;
}

.ed {
    float: left;
    color: #eaeaea;
}

.card {
    margin: 0 auto;
}

h3 {
    text-align: center;
    color: #5e5e5e;
}

.but-group {
    text-align: center;
}

h4 {
    text-align: center;
    color: #5e5e5e;
    margin: 15px 0 15px 0;
}

.card {
    max-width: 699px
}

.alert {
    margin-top: 15px;
}

.item {
    margin-top: 15px;
}