<nav>
    <mat-toolbar color="primary" class="nav-panel">
        <mat-toolbar-row>
            <a routerLink="/" routerLinkActive="active-link" [routerLinkActive]="['active']">Home
                <mat-icon>home</mat-icon>
            </a>
            <span class="example-spacer"></span>
            <a routerLink="/gallery" [routerLinkActive]="['active']">Gallery</a>
            <a class="btn btn-outline-success"
               [class.btn-outline-success]="!this.loggedInService.loggedIn"
               [class.btn-outline-danger]="this.loggedInService.loggedIn"
               (click)="this.loggedInService.loggedIn ? logout() : logIn()">
                {{this.loggedInService.loggedIn? 'Exit' : 'Enter'}}
            </a>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>
<div class="container-fluid">
    <div class="container">

        <router-outlet></router-outlet>
    </div>
</div>
