<div class="card" *ngIf="toggleCreate">
    <div class="card-body">
        <form [formGroup]="angForm" novalidate>
            <div class="form-group">
                <label class="col-md-4">Picture Title</label>
                <input type="text" class="form-control" formControlName="title" minlength="1" #title/>
            </div>
            <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].dirty || angForm.controls['title'].touched)"
                 class="alert alert-danger">
                <div *ngIf="angForm.controls['title'].errors.required">
                    Title is required.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Picture Address (url)</label>
                <input type="url" class="form-control" formControlName="url" #url pattern="https?://.+"
                       title="Include http://"/>
            </div>
            <div *ngIf="angForm.controls['url'].invalid && (angForm.controls['url'].dirty || angForm.controls['url'].touched)"
                 class="alert alert-danger">
                Address(url) is required.
                <div *ngIf="angForm.controls['url'].errors.required ">

                </div>
            </div>
            <div class="form-group but-group">
                <button (click)="addPost(title.value, url.value); addClose(); angForm.reset(title.value, url.value) "
                        [disabled]="angForm.pristine || angForm.invalid"
                        class="btn btn-primary">Add
                </button>
            </div>
        </form>
    </div>
</div>
<div class="card" *ngIf="formUpdate">
    <div class="card-body">
        <form [formGroup]="angFormEd" novalidate>
            <div class="form-group">
                <label class="col-md-4">Picture Title</label>
                <input type="text" class="form-control" formControlName="titleEd"  #titleEd
                       [ngModel]="edData.title"/>
            </div>
            <div *ngIf="angFormEd.controls['titleEd'].invalid && (angFormEd.controls['titleEd'].dirty || angFormEd.controls['titleEd'].touched)"
                 class="alert alert-danger">
                <div *ngIf="angFormEd.controls['titleEd'].errors.required">
                    Title is required.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Picture Address (url)</label>
                <input type="url" class="form-control" formControlName="urlEd" #urlEd pattern="https?://.+"
                       title="Include http://" [ngModel]="edData.url"/>
            </div>
            <div *ngIf="angFormEd.controls['urlEd'].invalid && (angFormEd.controls['urlEd'].dirty || angFormEd.controls['urlEd'].touched)"
                 class="alert alert-danger">
                Address(url) is required.
                <div *ngIf="angFormEd.controls['urlEd'].errors.required ">

                </div>
            </div>
            <div class="form-group but-group">
                <button (click)="updatePost(titleEd.value, urlEd.value); editClose(); angFormEd.reset(titleEd.value, urlEd.value)"
                        [disabled]=" angFormEd.invalid"
                        class="btn btn-primary">Update Post
                </button>
                <button (click)="editClose()" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>